.sidenav---sidenav---_2tBP {
  background: #243aa1 !important;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.7);
}

.sidenav---sidenav---_2tBP .MuiSvgIcon-root {
  margin-top: 12px !important;
  margin-left: 30px;
}

/* .icon-text {
  margin-left: 30px;
} */
.sidenav---navicon---3gCRo {
  margin-right: 10px !important;
}

.sidenav---sidenav---_2tBP {
  position: fixed !important;
}
